<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div th:replace="layout :: header"></div>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<section>
    <div class="container wrapper">
        <form th:action="@{${action}}" method="post" th:object="${collaborator}">
            <div class="actions add-new-collaborator" th:classappend="${#fields.hasErrors('name')}? 'error' : ''">
                <input type="text" th:field="*{name}" placeholder="Name..."/>
                <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                <div class="custom-select">
                    <span class="dropdown-arrow"></span>
                    <select th:field="*{role.id}">
                        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}">Role...</option>
                    </select>
                </div>
                <button th:text="${submit}" type="submit" class="button" style="width: 60px">Add</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>